# ==========================================
# 🐍 Python-related
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.env
*.DS_Store

# Byte-compiled / optimized files
**/__pycache__/
**/*.py[cod]

# ==========================================
# 📓 Jupyter Notebooks
# ==========================================
*.ipynb_checkpoints/
*.ipynb_checkpoints/*
CAN-FD_msg_generator(DoS, Fuzzy, Replay).ipynb
CAN_msg_generator(DoS, Fuzzy, Replay).ipynb
Fuzz_Bug.ipynb
EmbeddingModelSrc/test.ipynb

# ==========================================
# 📁 Data Directories
# ==========================================
Input_data/
Input_data/*.csv
Normal_Dataset/
Split_data/
Deployment/
Img_Data/
results_llama_classification/

# ==========================================
# 🧠 Model & Training Artifacts
# ==========================================

UIDSApp/OnnxModels/
UIDSApp/Test/
SFTSrc/titans/Models/
AnalysisSrc/
DataGenSrc/
Aljabri Light Adaptive IDS/TestSplit/
Aljabri Light Adaptive IDS/TrainSplit/
Jiang Adaptive/Kia_test_20/
Jiang Adaptive/Kia_train_80/
Aljabri Light Adaptive IDS/artifacts_deepmlp_kia/
SFTSrc/titans/Titans_MB_TTT_Output/
SFTSrc/titans/titans-mobilebert-mac-ttt/
DATI Domain Adaptive/dati_kia_runs/

SFTSrc/AlBert/TrainGen/
SFTSrc/AlBert/TrainKia/
SFTSrc/AlBert/TrainSil/
SFTSrc/AlBert/TrainTesla/

SFTSrc/Bert/TrainGen/
SFTSrc/Bert/TrainKia/
SFTSrc/Bert/TrainSil/
SFTSrc/Bert/TrainTesla/

SFTSrc/MobileBert/TrainGen/
SFTSrc/MobileBert/TrainKia/
SFTSrc/MobileBert/TrainSil/
SFTSrc/MobileBert/TrainTesla/
SFTSrc/MobileBert/OnnxModels/

SFTSrc/TinyBert/TrainGen/
SFTSrc/TinyBert/TrainKia/
SFTSrc/TinyBert/TrainSil/
SFTSrc/TinyBert/TrainTesla/



# Environment and secrets
SFTSrc/.env

# ==========================================
# 🔧 System / IDE Specific
# ==========================================
.vscode/
.idea/
*.swp
*.swo