# ==========================================
# 🐍 Python-related
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.env
*.DS_Store

# Byte-compiled / optimized files
**/__pycache__/
**/*.py[cod]

# ==========================================
# 📓 Jupyter Notebooks
# ==========================================
*.ipynb_checkpoints/
*.ipynb_checkpoints/*
CAN-FD_msg_generator(DoS, Fuzzy, Replay).ipynb
CAN_msg_generator(DoS, Fuzzy, Replay).ipynb
Fuzz_Bug.ipynb
EmbeddingModelSrc/test.ipynb

# ==========================================
# 📁 Data Directories
# ==========================================
Input_data/
Input_data/*.csv
Normal_Dataset/
Split_data/
Deployment/
Img_Data/
results_llama_classification/

# ==========================================
# 🧠 Model & Training Artifacts
# ==========================================
uids/
SFTSrc/Llama_Rank_2/
SFTSrc/Llama_Rank_16/
SFTSrc/tinyllama16/
SFTSrc/bert/__pycache__/
SFTSrc/bert/TrainGen/
SFTSrc/bert/TrainKia/
SFTSrc/bert/TrainSil/
SFTSrc/bert/TrainTesla/
SFTSrc/bert/OnnxModels/
SFTSrc/MACSingle/TrainGenMAC/
SFTSrc/MACSingle/TrainKiaMAC/
SFTSrc/MACSingle/TrainSilMAC/
SFTSrc/MACSingle/TrainTeslaMAC/
SFTSrc/MACSingle/OnnxModels/
SFTSrc/titans/TrainGen/
SFTSrc/titans/TrainKia/
SFTSrc/titans/TrainSil/
SFTSrc/titans/TrainTesla/
SFTSrc/titans/OnnxModels/
UIDSApp/OnnxModels/
UIDSApp/Test/
titans/


# Environment and secrets
SFTSrc/.env

# ==========================================
# 🔧 System / IDE Specific
# ==========================================
.vscode/
.idea/
*.swp
*.swo