# Ignore Python bytecode files
__pycache__/

# Ignore Input_data directory
/Input_data/

# Ignore Img_Data directory (if any)
Img_Data/

# Ignore specific Jupyter notebooks
CAN-FD_msg_generator(DoS, Fuzzy, Replay).ipynb

# Ignore all other potential Python files
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore CSV files in Input_data folder
/Input_data/*.csv

Fuzz_Bug.ipynb